footer {
  width: 100%;
  background-color: var(--footer-color);
  height: 70px;
  position: absolute;
  bottom: 0;
  z-index: 99;
}
.footer_container {
  width: 78%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 141px;
}
.footer_img_pair {
  display: flex;
  gap: 141px;
  align-items: center;
  justify-content: center;
}
.footer_img {
  opacity: 0.3;
}
.visa {
  width: 78px;
  height: 25px;
}
.mastercard {
  width: 66.5px;
  height: 38px;
}
.banktransfer {
  width: 90px;
  height: 35px;
}
.crypto {
  width: 41px;
  height: 29px;
}
.interac {
  height: 36px;
  width: 36px;
}
.mifinity {
  width: 111px;
  height: 27px;
}
.new_mob_pair {
  display: none;
}
@media (max-width: 1140px) {
  .footer_container {
    gap: 50px;
  }
  .footer_img_pair {
    gap: 50px;
  }
}
@media (max-width: 875px) {
  footer {
    height: 80px;
  }
  .footer_container {
    gap: 46px;
    height: auto;
  }
  .visa {
    width: 40px;
    height: 13px;
  }
  .mastercard {
    width: 40px;
    height: 23px;
  }
  .banktransfer {
    width: 38px;
    height: 15px;
  }
  .crypto {
    width: 35px;
    height: 25px;
  }
  .interac {
    height: 25px;
    width: 25px;
  }
  .mifinity {
    width: 70px;
    height: 17px;
  }
  .footer_img_pair {
    gap: 46px;
    display: flex;
  }
  .last_pair {
    display: none;
  }
  footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .log-in {
    text-align: center;
  }
}
